/* ============================================================================
   FONTS
   Font imports and font-face declarations
   ============================================================================ */

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Honk&family=Monoton&family=Poiret+One&family=Splash&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
  font-family: "Future Z";
  src: url('../Fonts/FutureZ.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
